.App {
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  
}

.App-form {

}

.App-status {
  margin-top: 3rem;
}

.App-status--error {
  color: hsl(348, 100%, 61%);
}

.App-articles {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;;
  align-items: flex-start;
  flex-wrap: wrap;
}

.App-article {
  width: 32%;
  margin-bottom: 1rem;
}

.App-pagination {
  width: 180px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1400px) {
  .App-article {
    width: 48%;
  }
}

@media (max-width: 640px) {
  .App-article {
    width: 100%;
  }
}
